@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@font-face {
  font-family: "Stockholm";
  src: url("./fonts/Stockholm.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HL-Brush-3BK";
  src: url("./fonts/HL-Brush-3BK.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blood-red: #690801;
  --indigo-dye: #013c5a;
  --pale-silver: #d6c8bf;
  --rufous: #9d0000;
  --ochre: #d57a0b;
  --tumble-weed: #cead93;
  --black-bean: #481702;
  --chocolate: #713509;
  --sepia: #7c4a15;
  --white: #fff;
  --flex-display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: rgb(0, 0, 0);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background:
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(105, 8, 1, 1) 75%
    );
  z-index: -10;
}

.header {
  font-family: "Stockholm", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav-bar {
  display: var(--flex-display);
  justify-content: space-between;
  align-items: center;
  padding-right: 10rem;
  padding-bottom: -10rem;
  padding-top: 2rem;
  width: 100%;
  background: rgb(0, 0, 0) url('./assets/deadpool-navbar.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 12vh;
  position: fixed;
  top: 0;
  z-index: 30;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 0;
}

.logo {
  width: 80px;
  margin-right: 2rem;
}

.logo-line {
  font-family: "Lato", sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 900;
}

.komikult {
  font-family: "HL-Brush-3BK", sans-serif;
  font-size: 1.9rem;
  color: var(--white);
  margin-bottom: 0.8rem;
  margin-left: -0.5rem;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  list-style: none;
  color: var(--white);
  font-family: "HL-Brush-3BK", sans-serif;
  font-weight: 900;
  margin-bottom: 1rem;
}

.nav-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  transition: 0.4s all ease-in-out;
}

.nav-item a:hover {
  color: #ea8e48;
}

.items-number {
  font-size: 2rem;
  color: #ea8e48;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 10rem;
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
  z-index: -2;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 68%;
  left: 10%;
  font-size: 5.5rem;
  transform: translate(-20%, 70%) rotate(15deg);
  color: #cdcdcd;
  font-family: "HL-Brush-3BK", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 3;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.scroll-down {
  height: 30px;
  width: 80px;
  border: 2px solid #d57a0b;
  position: absolute;
  left: calc(50% - 40px);
  bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.scroll-down:hover {
  background: #013c5a;
  color: #c7834f;
}

.scroll-down:active {
  background: #02293c;
  color: #c7834f;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #d6c8bf;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}

#scroll-dest {
  position: relative;
  bottom: 25rem;
  height: 0;
}

.spidey-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: -5rem;
}

.spidey {
  width: 420px;
  height: 447px;
  z-index: -1;
}

.char-heading {
  font-size: 6.5rem;
  color: #9d0000;
  font-family: "HL-Brush-3BK", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -15rem;
}

.solid {
  margin: 0 auto;
  width: 10%;
  border: 3px solid #9d0000;
  position: relative;
  top: -13rem;
}

.container {
  padding: 0 50px;
  margin-top: -5rem;
}

.charc-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.charc-list li {
  padding: 0;
}

.char-image {
  box-shadow: rgba(151, 0, 0, 0.2) 0 8px 24px, rgba(142, 0, 0, 0.2) 0 16px 86px, rgba(159, 0, 0, 0.2) 0 2px 20px;
  border-radius: 20px;
}

.char-image:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.char-name {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 700;
  color: var(--ochre);
}

.like {
  background-color: transparent;
  color: var(--ochre);
  border: solid 1px var(--ochre);
  width: 70px;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 100px;
  transition: 0.5s;
}

.likesCounter {
  font-size: 2rem;
  color: var(--ochre);
  margin: auto 10px;
  display: inline-block;
}

.like:hover {
  background-color: var(--chocolate);
  color: var(--ochre);
  border: solid 1px var(--chocolate);
}

.like:active {
  background-color: var(--blood-red);
  color: var(--ochre);
  border: solid 1px var(--blood-red);
}

.comment {
  transition: 0.5s;
  background-color: transparent;
  color: var(--ochre);
  border: solid 1px var(--ochre);
  width: 100px;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
}

.comment:hover {
  background-color: var(--chocolate);
  color: var(--ochre);
  border: solid 1px var(--chocolate);
}

.comment:active {
  background-color: var(--blood-red);
  color: var(--ochre);
  border: solid 1px var(--blood-red);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 80;
  width: 80rem;
  max-width: 80%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--rufous);
  color: var(--pale-silver);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 1rem 1.5rem;
  display: var(--flex-display);
  align-items: center;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  font-weight: 700;
}

.modal-body {
  display: var(--flex-display);
  justify-content: center;
  align-items: center;
}

.modal-img {
  border-radius: 11px;
  margin: 2rem;
}

.modal-name {
  position: relative;
  bottom: 2rem;
  left: 3rem;
  font-weight: 900;
  font-size: 25px;
  color: var(--pale-silver);
  font-family: 'HL-Brush-3BK', Times, serif;
  width: 200px;
}

.description {
  display: var(--flex-display);
  justify-content: flex-start;
  margin: 0 auto 20rem auto;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Stockholm', Times, serif;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background:
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.8) 10%,
      rgba(105, 8, 1, 0.5) 75%
    );
  pointer-events: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.comment-section {
  display: var(--flex-display);
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  position: relative;
  left: 27rem;
  bottom: 25rem;
  font-size: 15px;
  font-family: 'Stockholm', Times, serif;
  margin-top: 15px;
}

.comment-section input {
  margin-bottom: 2rem;
  border-radius: 4px;
  border: solid 1px black;
  height: 33px;
  width: 302px;
  background-color: var(--pale-silver);
  font-size: 18px;
  font-family: 'Stockholm', Times, serif;
  text-align: center;
}

.comment-section input::placeholder {
  text-align: center;
  font-size: 18px;
  font-family: 'Stockholm', Times, serif;
  background-color: var(--pale-silver);
}

.comment-section textarea {
  margin-bottom: 2rem;
  width: 30rem;
  max-width: 80%;
  text-align: center;
  height: 150px;
  font-size: 18px;
  font-family: 'Stockholm', Times, serif;
  background-color: var(--pale-silver);
}

.comment-section > h2 {
  margin: 20px 0;
}

.display-comments > li {
  margin-left: 18px;
}

#add-button {
  width: 25%;
  height: 45px;
  transform: translateX(66px);
  border: none;
  border-radius: 30px;
  background-color: var(--pale-silver);
  font-size: 17px;
  font-family: 'Stockholm', Times, serif;
  color: var(--indigo-dye);
}

.about {
  color: var(--pale-silver);
  font-family: "HL-Brush-3BK", sans-serif;
  padding: 60px 0;
  margin-top: 10rem;
  background:
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.5) 75%,
      rgba(105, 8, 1, 0.6) 10%
    ),
    url(./assets/marvel-two.jpg);
}

.about-container {
  margin-top: 0;
  width: 100%;
}

.about-header {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 auto;
}

hr {
  margin: 0 auto;
  width: 10%;
  border: 3px solid #9d0000;
  position: relative;
  top: 0.5rem;
}

.about-p {
  width: 60%;
  text-align: center;
  margin: 50px auto 0;
  font-size: 22px;
  font-family: "Stockholm", sans-serif;
}

footer {
  padding: 17px 0;
  font-size: 18px;
  background-color: var(--blood-red);
  color: var(--pale-silver);
}

footer > .container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
