body {
  background-color: beige;
}

.charc-list{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}


.charc-list > li {
padding: 0;
width: 216px;
}
